{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
   <div style="color:white;"> <p>The most trusted and known for its real traditional food in entire Parasnath since 1943.
        One can get the true flavours of Indian traditonal foods made with pure sudh desi ghee with fresh sweet aroma of entire parasnath.So without a pinch of doubt grab an opportunity to blend with our tradition.</p>
    <p>You really haven't visited parasnath if you haven't had the delicacy of Hotel Bhuvan. We have a huge variety of edibles just to suit your mood and always lighten it up. We promise never to let you down and to serve you with the best.
In short we welcome to a whole room filled with happiness and you can also take it home</p></div>
{% endblock content %}
{#<div><span class="" style="font-size: 1.7em#}
